:root {
    --size: 80;
    --unit: calc((var(--size) / 475) * 1vmin);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
	//Scaling drawing to fit on screen (thanks to rems)
	font-size: 5vw;
	@media screen and (min-height: 400px) {
		// Avoiding really big versions of the illustration
		font-size: 19px;
	}
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f17cf0;
}

.banana {
    width: calc(475 * var(--unit));
    height: calc(380 * var(--unit));
    // width: 25rem;
    // height: 20rem;
    position: relative;
    display: flex;
    justify-content: center;

    &__img {
       width: 100%;
       height: 100%;
       background-image: url("./banana.png");
       background-repeat: no-repeat;
       background-size: cover;
       position: absolute;
       opacity: 0;
      // opacity: .3;
    }

    &__shadow {
        width: 48%;
        height: 5%;
        position: absolute;
        bottom: 7%;
        left: 24%;
        background-color: #2a2a2a;
        opacity: 0.1;
        border-radius: 10% 10% 10% 10% / 45% 45% 45% 45%;
        animation: shadowMovw 5s infinite;
    }

    &__body {
        width: 50%;
        height: 38%;
        position: absolute;
       // opacity: 0.4;
        bottom: 12%;
        border-bottom: calc(73 * var(--unit)) solid #f4d555;
        left: 49%;
        transform: translate(-50%, 0) rotate(45deg);
        border-radius: 0 0 48% 50% / 0% 0% 100% 90%;
        animation: exercise 5s infinite;

        &::after {
            content: "";
            width: 81%;
            height: 85%;
            position: absolute;
            left: 0;
           // opacity: 0.4;
            bottom: -45%;
            border-right: calc(20 * var(--unit)) solid #f2bf56;
            border-left:  calc(20 * var(--unit)) solid #f2bf56;
            border-bottom:  calc(36 * var(--unit)) solid #f2bf56;
            border-radius: 0 0 50% 50% / 0% 0% 100% 100%;
        
        
        }
    }

    &__eyes {
        width: 10%;
        height: 12%;
        position: absolute;
        left: 24%;
        top: 100%;
        transform: rotate(-70deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &__eye {
        // height: 40%;
        // width: 40%;
        width: calc(8 * var(--unit));
        height: calc(9 * var(--unit));
        border-radius: 50%;
        background: #724020;
        animation: eyeBlink 2s infinite;
    }

    &__arm {
        &::after {
            content: "";
            width: calc(4* var(--unit));
            height: calc(3* var(--unit));
            border-radius: 50%;
            position: absolute;
            background: #724020;
            top: calc(-1* var(--unit));
            right: calc(-3.9* var(--unit));
        }

        width: 14%;
        /* width: 0%; */
        height: 80%;
        border-right: calc(4* var(--unit)) solid #724020;
        border-bottom: calc(4* var(--unit)) solid #724020;
        position: absolute;
 
        transform: rotate(40deg);
        border-bottom-right-radius: 60%;
        transform-origin: 50% 100%;

        &--front {
            z-index: 1;
            bottom: -72%;
            left: 29%;
            animation: armStright, armShakeFront;
            animation-duration: 5s , 5s;
            animation-iteration-count: infinite, infinite;
        }

        &--back {
            z-index: -1;
            left: 33%;
            bottom: -17%;
            animation: armStright, armShakeBack;
            animation-duration: 5s , 5s;
            animation-iteration-count: infinite, infinite;
        }
    }



    &__edge {
        width: 12%;
        height: 50%;
        border-radius: 15% 15% 5% 5%;
        background: #724020;
        position: absolute;
        z-index: 1;


        &--left {
            left: -1%;
            top: 3%;
            transform: rotate(-15deg);
        }

        &--right {
            right: -1%;
            top: -10%;
            transform: rotate(15deg);
        }
    }
}


@keyframes eyeBlink {
    80% {
        height: calc(8 * var(--unit));
        border-radius: 50%;
    }

    0%, 20%, 100% {
        height: calc(3 * var(--unit));
        border-radius: 0;
    }
}

@keyframes exercise {
    0%, 20%, 100% {
        transform: translate(-50%, 0) rotate(45deg);
    }

    40%, 70% {
        transform: translate(-50%, 0) rotate(0deg);
    }

    25%, 90% {
        transform: translate(-50%, 0) rotate(-20deg);
    }
}

@keyframes armStright {
    0%, 15%, 75%, 100% {
        width: 0;
        height: 100%;
    } 

    50%, 70% {
        width: 14%;
        height: 80%;
    }
}

@keyframes armShakeFront {
    0% ,  15%, 100% {
        transform: rotate(40deg);
        left: 29%;
    }

    55%, 65% {
        transform: rotate(70deg);
        left: 23%;
    }


    3%,  9% {
        transform: rotate(60deg);
        left: 29%;
    }

    6%,  12%{
        transform: rotate(20deg);
        left: 29%;
    }
}

@keyframes armShakeBack {
    0% ,  15%, 100% {
        transform: rotate(40deg)
    }

    55%, 65% {
        transform: rotate(65deg);
    }

    3%, 9%{
        transform: rotate(20deg)
    }
    
     6%, 12% {
        transform:  rotate(60deg)
     }

}

@keyframes shadowMovw {
    0%, 20%, 100% {
        left: 35%;
    }

    40%, 70% {
        left: 25%;
    }

    25%, 90% {
        left: 15%;
    }


}


