*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg: #fed309;
    --size: 50;
    --shell: #fff;
    --shell-outline: #666;
    --unit: calc((var(--size) / 313) * 1vmin);
    --specs-frame: black;
    --shadow-color: hsla(0, 0%, 10%, 0.5);
}

body {
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img, .egg {
    height: calc(313 * var(--unit));
    width: calc(313 * var(--unit));
    position: fixed;
}

img {
    opacity: 0;
}

.shell {
    height: 96%;
    width: 72%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shell__piece {
    background-color: var(--shell);
    border: calc(15 * var(--unit)) solid  var(--shell-outline);
    transform: translate(-50%, 0);
    position: absolute;
    top:0;
    left: 50%;
}

.shell__piece--top {
    width: 100%;
    height: 86%;
    border-radius: 50% 50% 0 0 / 85% 85% 0 0;
    clip-path: inset(0 0 62% 0);
}

.shell__piece--center {
    top:7%;
    left: 50%;
    width: 99%;
    height: 81%;
    border-radius: 50% 50% 0 0 / 85% 85% 0 0;
    clip-path: inset(30% 0 40% 0);
}

.shell__piece--bottom {
    bottom: 0px;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 51% 58% 57% 56% / 57% 50% 40% 40%;
    clip-path: inset(55% 0 0 0);
}

.specs {
    height: 31.5%;
    width: 92%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 29.5%;
  }

  .specs__lens {
    border: calc(22 * var(--unit)) solid var(--specs-frame);
    height: 94%;
    width: 46%;
    position: absolute;
    border-radius: 20% 49% 27% 22% / 26% 29% 45% 30%;
  }

  .specs__lens--left {
    left: 0;
    transform: rotate(-10deg);
  }

  .specs__lens--right {
    right: 0;
    transform: rotate(10deg) rotateY(180deg);
  }

  .specs__bridge {
    width: 33%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); 
    height: 180%;
    border-radius: 50%;
    top: 3%;
    border: calc(22 * var(--unit)) solid var(--specs-frame);
    clip-path: inset(0 20% 60% 20%);
  }

  .specs__arms {
    background-color: var(--specs-frame);
    height: 12%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 36%;
    clip-path: polygon(0 0, 22% 55%, 78% 55%, 100% 0, 100% 80%, 85% 100%, 15% 100%, 0 80%);
  }

  .specs__lens--shadow {
    box-shadow:  calc(-2 * var(--unit)) calc(7 * var(--unit)) calc(10 * var(--unit)) var(--shadow-color),
    0 calc(6 * var(--unit)) calc(8 * var(--unit)) var(--shadow-color) inset;
    clip-path: polygon(50% 0, 108% 0, 100% 120%, 15% 120%, 17% 100%);

  }

