:root {
  --size: 90;
  --default-width: 450;
  --unit: calc((var(--size) / var(--default-width)) * 1vmin);
  --background: linear-gradient(0deg, rgb(177 251 255), rgb(0 134 255 / 52%));
  --cat-body: #000;
  --balloon-one: #ec27d4;
  --balloon-two: #e2c721;
  --balloon-three: #ff1111d1;
  --balloon-four: #3b29e1;
  --line: #ff00cd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--background);
}

.cat-container {
  height: calc(var(--default-width) * var(--unit));
  width: calc(var(--default-width) * var(--unit));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translate(0, -50%);
  animation: balloonsFly 10s infinite ease-in-out;
}
.cat-container .balloons {
  position: absolute;
  width: 67%;
  height: 71%;
  top: 0;
}
.cat-container .balloon {
  width: 46%;
  height: 48%;
  position: absolute;
  border-radius: 70% 70% 70% 70%/60% 60% 80% 80%;
  transform: rotate(-20deg);
  opacity: 0.8;
}
.cat-container .balloon::after {
  content: "";
  width: 13%;
  height: 20%;
  position: absolute;
  background-color: inherit;
  bottom: -9%;
  left: 47%;
  transform: translate(-50%, 0);
  clip-path: polygon(45% 0, 55% 0, 100% 100%, 0 100%);
}
.cat-container .balloon:nth-child(1) {
  top: 29%;
  left: 5%;
  background-color: var(--balloon-one);
}
.cat-container .balloon:nth-child(2) {
  top: 31%;
  right: 7%;
  transform: rotate(10deg);
  background-color: var(--balloon-two);
}
.cat-container .balloon:nth-child(3) {
  top: 2%;
  right: 12%;
  transform: rotate(0deg);
  background-color: var(--balloon-three);
  z-index: 2;
}
.cat-container .balloon:nth-child(4) {
  top: 4%;
  left: 10%;
  transform: rotate(-4deg);
  background-color: var(--balloon-four);
  z-index: 2;
}
.cat-container .balloon__line {
  width: calc(2 * var(--unit));
  bottom: 25%;
  background-color: var(--line);
  position: absolute;
  transform-origin: 50% 100%;
}
.cat-container .balloon__line:nth-child(1) {
  transform: rotate(-24deg);
  height: 20%;
}
.cat-container .balloon__line:nth-child(2) {
  transform: rotate(-17deg);
  z-index: 1;
  height: 37%;
}
.cat-container .balloon__line:nth-child(3) {
  transform: translate(0, -31%) rotate(16deg);
  left: 49%;
  bottom: 17%;
  z-index: 1;
  height: 35%;
}
.cat-container .balloon__line:nth-child(4) {
  transform: rotate(33deg);
  left: 47%;
  height: 20%;
}
.cat-container .cat {
  width: calc(126 * var(--unit));
  height: calc(130 * var(--unit));
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.cat-container .cat__line {
  width: calc(2 * var(--unit));
  bottom: 25%;
  background-color: #ff00cd;
  position: absolute;
  transform-origin: 50% 100%;
  height: 48%;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  border-radius: 25%;
}
.cat-container .cat__eye {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 40%;
}
.cat-container .cat__eye::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: var(--cat-body);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: eyeRoll 10s linear infinite;
}
.cat-container .cat__eye::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--cat-body);
  border-radius: 50% 50% 0 0;
  top: 0;
  opacity: 0;
  animation: eyeBlink 10s linear infinite;
}
.cat-container .cat__eye--left {
  left: 17%;
}
.cat-container .cat__eye--right {
  right: 17%;
}
.cat-container .cat__head {
  width: 41%;
  height: 37%;
  border-radius: 48%;
  position: absolute;
  background-color: var(--cat-body);
  top: 23%;
  left: -1%;
}
.cat-container .cat__head::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9%;
  background-color: var(--cat-body);
  height: 55%;
  width: 26%;
  clip-path: polygon(0 0, 100% 35%, 0 100%);
}
.cat-container .cat__belly {
  background-color: var(--cat-body);
  width: 93%;
  height: 80%;
  border-radius: 50%;
  left: 51%;
  position: absolute;
  transform: translate(-50%, 0);
  clip-path: polygon(0 0, 100% 0, 100% 105%, 69% 62%, 0 52%);
}
.cat-container .cat__legs {
  width: 100%;
  height: 41%;
  bottom: 17%;
  position: absolute;
}
.cat-container .cat__leg {
  width: 12%;
  height: 80%;
  background-color: var(--cat-body);
  position: absolute;
  border-radius: 0 0 50% 50%/0 0 20% 20%;
}
.cat-container .cat__leg:nth-child(1) {
  left: 3%;
  bottom: 3%;
}
.cat-container .cat__leg:nth-child(2) {
  left: 25%;
  bottom: 4%;
}
.cat-container .cat__leg:nth-child(3) {
  right: 26%;
  bottom: 24%;
}
.cat-container .cat__leg:nth-child(4) {
  right: 10%;
  bottom: 10%;
}
.cat-container .cat__tail {
  width: 8%;
  height: 57%;
  right: 2%;
  background-color: var(--cat-body);
  bottom: 3%;
  position: absolute;
  border-radius: 0 0 50% 50%/0 0 5% 5%;
  transform: rotate(-2deg);
  animation: tailWave 10s ease infinite;
}

@keyframes balloonsFly {
  0% {
    transform: translate(0, 80%) rotate(3deg);
  }
  50% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(0, -190%);
  }
}
@keyframes eyeBlink {
  0%, 35%, 50%, 100% {
    opacity: 0%;
  }
  40%, 49% {
    opacity: 100%;
  }
}
@keyframes eyeRoll {
  0%, 70%, 90% {
    top: 15%;
    width: 20%;
    height: 20%;
  }
  20% {
    top: 70%;
    left: 80%;
  }
  50% {
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
  }
}
@keyframes tailWave {
  0%, 50%, 80% {
    transform: rotate(-2deg);
    right: 2%;
  }
  60% {
    transform: rotate(6deg);
    right: 6%;
  }
}

/*# sourceMappingURL=balloon-cat.css.map */
