:root {
    --size: 60;
    --unit: calc((var(--size) / 430) * 1vmin);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(242 232 255), rgb(86 0 255 / 52%));
}

.cat-image {
    background-image: url("./cat.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(450 * var(--unit));
    width: calc(430 * var(--unit));
    opacity: 0;
    // opacity: .3;
    position: fixed;
}


.cat-container {
    height: calc(450 * var(--unit));
    width: calc(430 * var(--unit));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .balloons {
        position: absolute;
        width: 67%;
        height: 71%;
        top: 0;
        // opacity: .4;
    }

    .balloon {
        width: 46%;
        height: 48%;
        position: absolute;
        border-radius: 70% 70% 70% 70% / 60% 60% 80% 80%;
        transform: rotate(-20deg);
        opacity: .8;

        &::after {
            content: "";
            width: 13%;
            height: 20%;
            position: absolute;
            background-color: inherit;
            bottom: -9%;
            left: 47%;
            transform: translate(-50%, 0);
            clip-path: polygon(45% 0, 55% 0, 100% 100%, 0 100%);
        }

        &:nth-child(1) {
            top: 29%;
            left: 5%;
            background-color: #ec27d4;
        }

        &:nth-child(2) {
            top: 31%;
            right: 7%;
            transform: rotate(10deg);
            background-color: #e2c721;
        }

        &:nth-child(3) {
            top: 2%;
            right: 12%;
            transform: rotate(0deg);
            background-color: #11a7ff;
            z-index: 2;
        }

        &:nth-child(4) {
            top: 4%;
            left: 10%;
            transform: rotate(-4deg);
            background-color: #3b29e1;
            z-index: 2;
        }

        &__line {
            width: calc(2* var(--unit));
            bottom: 25%;
            background-color: #ff00cd;
            position: absolute;
            transform-origin: 50% 100%;

            &:nth-child(1) {
                transform: rotate(-24deg);
                height: 20%;
            }

            &:nth-child(2) {
                transform: rotate(-17deg);
                z-index: 1;
                height: 37%;
            }

            &:nth-child(3) {
                transform: translate(0, -31%) rotate(16deg);
                left: 49%;
                bottom: 17%;
                z-index: 1;
                height: 35%;
            }

            &:nth-child(4) {
                transform: rotate(33deg);
                left: 47%;
                height: 20%;
            }
        }
    }

    .cat {
        width: calc(126* var(--unit));
        height: calc(130* var(--unit));
        position: absolute;
        bottom: 0;
        left: 49%;
        transform: translate(-50%, 0);
        z-index: 2;

        &__line {
            width: calc(2* var(--unit));
            bottom: 25%;
            background-color: #ff00cd;
            position: absolute;
            transform-origin: 50% 100%;
            height: 48%;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 1;
            border-radius: 25%;
        }

        &__eye {
            width: 20%;
            height: 20%;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            top: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: "";
                position: absolute;
                width: 30%;
                height: 30%;
                background-color: black;
                border-radius: 50%;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 50%;
                background-color: black;
                border-radius: 50% 50% 0 0;
                top: 0;
                visibility: hidden;
            }

            &--left {
                left: 17%;
            }

            &--right {
                right: 17%;
            }
        }

        &__head {
            width: 41%;
            height: 37%;
            border-radius: 48%;
            position: absolute;
            background-color: black;
            top: 23%;
            left: -1%;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -9%;
                background-color: black;
                height: 55%;
                width: 26%;
                clip-path: polygon(0 0, 100% 35%, 0 100%);
            }
        }


        &__belly {
            background-color: black;
            width: 93%;
            height: 80%;
            border-radius: 50%;
            left: 51%;
            position: absolute;
            transform: translate(-50%, 0);
            clip-path: polygon(0 0, 100% 0, 100% 105%, 69% 62%, 0 52%);

        }

        &__legs {
            width: 100%;
            height: 41%;
            bottom: 17%;
            position: absolute;
        }

        &__leg {
            width: 12%;
            height: 80%;
            background-color: black;
            position: absolute;
            border-radius: 0 0 50% 50% / 0 0 20% 20%;

            &:nth-child(1) {
                left: 3%;
                bottom: 3%;
            }

            &:nth-child(2) {
                left: 25%;
                bottom: 4%;
            }

            &:nth-child(3) {
                right: 26%;
                bottom: 24%;
            }

            &:nth-child(4) {
                right: 10%;
                bottom: 10%;
            }
        }

        &__tail {
            width: 8%;
            height: 57%;
            right: 2%;
            background-color: black;
            bottom: 3%;
            position: absolute;
            border-radius: 0 0 50% 50% / 0 0 5% 5%;
            transform: rotate(-1deg);
        }
    }

}