:root {
    --size: 55;
    --unit: calc((var(--size) / 360) * 1vmin);
    --body-color: #232220;
    --wings-color-dark: #b40003;
    --blush-color: rgb(255 255 255 / 19%);

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


img {
    opacity: 0;
    transform: rotate(-1deg);
    zoom: 1.28;
    width: calc(360 * var(--unit));
    height: calc(360 * var(--unit));
}

.ladybug {
    width: calc(360 * var(--unit));
    height: calc(360 * var(--unit));
    position: absolute;
    //background: rgb(165 0 255 / 35%);

    &__tentacle {
        width: calc(50* var(--unit));
        height: calc(71* var(--unit));
        background: transparent;
        border: calc(5* var(--unit)) solid var(--body-color);
        border-radius: 50%;
        top: 3%;
        position: absolute;
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%);

        &--right {
            transform: rotateY(180deg);
            transform: rotate(45deg) rotateY(180deg);
            right: 26%;
        }

        &--left {
            transform: rotate(-45deg);
            left: 29%;
        }

        &-ball {
            width: calc(20* var(--unit));
            height: calc(20* var(--unit));
            border-radius: 50%;
            background-color: var(--body-color);
            position: absolute;
         
            top: 2%;

            &--right {
                right: 31%;
                top: 2%;
            }
    
            &--left {
                left: 33%;
            }


        }
    }

    &__leg {
        width: calc(20* var(--unit));
        height: calc(40* var(--unit));
        background-color: var(--body-color);
        border-radius: 40% 40% 0 0;
        position: absolute;
       
      
        &--first {
            left: 0;
            transform: rotate(-35deg);
            top: -10%;
        }

        &--second {
            transform: rotate(35deg) rotateY(180deg);
            right: -2%;
            top: -9%;
            top: -10%;
        }

        &--third {
            transform: rotate(180deg);
            bottom: 0%;
            left: 17%;
        }

        &--fourth {
            transform: rotate(180deg);
            bottom: 0%;
            right: 17%;
        }
    }

    &__belly {
        width: 65%;
        height: 65%;
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translate(-50%, 0);
        background: var(--body-color);
        border-radius: 49%;
        // display: none;
    }

    &__eyes {
        width: 65%;
        height: 33%;
        top: 18%;
        left: 18%;
        position: absolute;
        // opacity: 1.5;
    }

    &__eye {
        width: calc(37 * var(--unit));
        height: calc(37 * var(--unit));
        border-radius: 50%;
        background-color: #fdffff;
        position: absolute;

        &--right {
            right: 0;
        }

        &--left {
            left: 0;
        }

        &--inner {
            width: 65%;
            height: 65%;
            background-color:   var(--body-color);
            // opacity: 0.5;
            position: absolute;
            border-radius: 50%;
            left: 20%;
            top: 20%;

            &::after {
                content: "";
                width: 50%;
                height: 50%;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                left: -10%;
            }

            &::before {
                content: "";
                width: 30%;
                height: 30%;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                right: -10%;
                top: 45%;
            }

            &-right {
                &::before {
                    left: -18%;
                    top: 48%;
                }

                &::after {
                    left: 54%;
                    top: 5%;
                }
            }

        }


    }


    &__head {
        width: 36%;
        height: 34%;
        left: 51%;
        position: absolute;
        transform: translate(-50%, 0);
        background: var(--body-color);
        border-radius: 59%;
        top: 9%;
        overflow: hidden;
        // opacity: 0.5;

        &-bottom-container {
            background: transparent;
        }

        &-bottom {
            width: 81%;
            height: 68%;
            background: var(--body-color);
            position: absolute;
            clip-path: inset(60% 23% 1% 12%);
            border-radius: 0 0 0% 88% / 0 0 0 69%;

            &--left {
                left: -11%;
            }

            &--right {
                right: -13%;
                transform: rotateY(180deg);
            }
        }


    }

    &__wings-container {
        width: 94%;
        height: 72%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        // opacity: 0.5;
        bottom: 4%;
        overflow: hidden;
    }

    &__wings {
        width: 99%;
        height: 125%;
        position: absolute;
        left: 50%;
        bottom: -22%;
        transform: translate(-50%, 0);
        background: transparent;
        border-radius: 49%;
        overflow: hidden;
    }

    &__wing {
        position: absolute;
        background: var(--wings-color-dark);
        width: 51%;
        border-radius: 0 0 100% 0 / 0 0 75% 0;

        &--left {
            height: 81%;
        }

        &--right{
            height: 84%;
            right: -2%;
            transform: rotateY(180deg);
        }

        &-blush {
            width: 70%;
            top: 2%;
            height: 73%;
            background-color: var(--blush-color);
            position: absolute;
            left: 7%;
            border-radius: 50% 45% 50% 50% / 50% 50% 45% 56%;

            &--left {
                transform: rotate(26deg);
            }

            &--right {
                transform:  rotate(26deg) rotateY(180deg);

            }
        }
    }

    &__dot {
        background-color: var(--body-color);
        border-radius: 50%;
        &--first {
            width: calc(60* var(--unit));
            height: calc(60* var(--unit));
            left: 18%;
            position: absolute;
            top: 30%;
        }
        &--second {
            width: calc(40* var(--unit));
            height: calc(40* var(--unit));
            left: 31%;
            position: absolute;
            top: 62%;
        }
        &--third {
            width: calc(40* var(--unit));
            height: calc(40* var(--unit));
            left: 62%;
            position: absolute;
            top: 20%;
        }
    }


}