:root {
  --size: 55;
  --unit: calc((var(--size) / 360) * 1vmin);
  --body: #232220;
  --wings: #b40003;
  --blush: rgb(255 255 255 / 19%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #188bec 0%, #9ccdb4 100%);
}

.ladybug {
  width: calc(360 * var(--unit));
  height: calc(360 * var(--unit));
  position: absolute;
}
.ladybug__tentacle {
  width: calc(50 * var(--unit));
  height: calc(71 * var(--unit));
  background: transparent;
  border: calc(5 * var(--unit)) solid var(--body);
  border-radius: 50%;
  top: 3%;
  position: absolute;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%);
}
.ladybug__tentacle--right {
  transform: rotate(45deg) rotateY(180deg);
  right: 26%;
}
.ladybug__tentacle--left {
  transform: rotate(-45deg);
  left: 29%;
}
.ladybug__tentacle-ball {
  width: calc(20 * var(--unit));
  height: calc(20 * var(--unit));
  border-radius: 50%;
  background-color: var(--body);
  position: absolute;
  top: 2%;
}
.ladybug__tentacle-ball--right {
  right: 31%;
  top: 2%;
}
.ladybug__tentacle-ball--left {
  left: 33%;
}
.ladybug__leg {
  width: calc(20 * var(--unit));
  height: calc(40 * var(--unit));
  background-color: var(--body);
  border-radius: 40% 40% 0 0;
  position: absolute;
}
.ladybug__leg:nth-child(1) {
  left: 0;
  transform: rotate(-35deg);
  top: -10%;
}
.ladybug__leg:nth-child(2) {
  transform: rotate(35deg) rotateY(180deg);
  right: -2%;
  top: -9%;
  top: -10%;
}
.ladybug__leg:nth-child(3) {
  transform: rotate(180deg);
  bottom: 0%;
  left: 17%;
}
.ladybug__leg:nth-child(4) {
  transform: rotate(180deg);
  bottom: 0%;
  right: 17%;
}
.ladybug__belly {
  width: 65%;
  height: 65%;
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, 0);
  background: var(--body);
  border-radius: 49%;
}
.ladybug__eyes {
  width: 65%;
  height: 33%;
  top: 18%;
  left: 18%;
  position: absolute;
}
.ladybug__eye {
  width: calc(37 * var(--unit));
  height: calc(37 * var(--unit));
  border-radius: 50%;
  background-color: #fdffff;
  position: absolute;
}
.ladybug__eye--left {
  left: 0;
}
.ladybug__eye--right {
  right: 0;
}
.ladybug__eye-inner {
  width: 65%;
  height: 65%;
  background-color: var(--body);
  position: absolute;
  border-radius: 50%;
  left: 20%;
  top: 20%;
}
.ladybug__eye-inner::after, .ladybug__eye-inner::before {
  content: "";
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
.ladybug__eye-inner::after {
  width: 50%;
  height: 50%;
}
.ladybug__eye-inner::before {
  width: 30%;
  height: 30%;
}
.ladybug__eye-inner--left::before {
  right: -15%;
  top: 45%;
}
.ladybug__eye-inner--left::after {
  left: -10%;
}
.ladybug__eye-inner--right::before {
  left: -18%;
  top: 48%;
}
.ladybug__eye-inner--right::after {
  left: 54%;
  top: 5%;
}
.ladybug__head {
  width: 36%;
  height: 34%;
  left: 51%;
  position: absolute;
  transform: translate(-50%, 0);
  background: var(--body);
  border-radius: 59%;
  top: 9%;
  overflow: hidden;
}
.ladybug__head-bottom-container {
  background: transparent;
}
.ladybug__head-bottom {
  width: 81%;
  height: 68%;
  background: var(--body);
  position: absolute;
  clip-path: inset(60% 23% 1% 12%);
  border-radius: 0 0 0% 88%/0 0 0 69%;
}
.ladybug__head-bottom--left {
  left: -11%;
}
.ladybug__head-bottom--right {
  right: -13%;
  transform: rotateY(180deg);
}
.ladybug__wings-container {
  width: 94%;
  height: 72%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 4%;
  overflow: hidden;
}
.ladybug__wings {
  width: 99%;
  height: 125%;
  position: absolute;
  left: 50%;
  bottom: -22%;
  transform: translate(-50%, 0);
  background: transparent;
  border-radius: 49%;
  overflow: hidden;
}
.ladybug__wing {
  position: absolute;
  background: var(--wings);
  width: 51%;
  border-radius: 0 0 100% 0/0 0 75% 0;
}
.ladybug__wing--left {
  height: 81%;
}
.ladybug__wing--right {
  height: 84%;
  right: -2%;
  transform: rotateY(180deg);
}
.ladybug__wing-blush {
  width: 70%;
  top: 2%;
  height: 73%;
  background-color: var(--blush);
  position: absolute;
  left: 7%;
  border-radius: 50% 45% 50% 50%/50% 50% 45% 56%;
}
.ladybug__wing-blush--left {
  transform: rotate(26deg);
}
.ladybug__wing-blush--right {
  transform: rotate(26deg) rotateY(180deg);
}
.ladybug__dot {
  background-color: var(--body);
  border-radius: 50%;
  position: absolute;
}
.ladybug__dot:nth-child(1) {
  width: calc(60 * var(--unit));
  height: calc(60 * var(--unit));
  left: 18%;
  top: 30%;
}
.ladybug__dot:nth-child(2) {
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  left: 31%;
  top: 62%;
}
.ladybug__dot:nth-child(3) {
  width: calc(40 * var(--unit));
  height: calc(40 * var(--unit));
  left: 62%;
  top: 20%;
}

/*# sourceMappingURL=ladybug.css.map */
