:root {
    --size: 70;
    --unit: calc((var(--size) / 360) * 1vmin);
    --background: #ffc0d3;
    --belly: #fff;
    --eyeOutside: #fff;
    --eyeDot: #fff;
    --eyeInside: #000;
    --bellyInside: #cddc39;
    --skin: #37bb83;
    --floor: #663407;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.frog {
    width: calc(360 * #{var(--unit)});
    height: calc(270 * var(--unit));
    position: absolute;

    &__body {
        width: 63%;
        height: 57%;
        position: absolute;
        left: 58%;
        transform: translate(-64%, 34%);
    }

    &__belly {
        width: 50%;
        height: 72%;
        background-color: var(--bellyInside);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        border-radius: 60% 60% 5% 5% / 66% 66% 50% 50%;
        animation: fullBelly 4s infinite;
        animation-timing-function: cubic-bezier(0, .69, 0, 1.03);

        &::after {
            content: "";
            width: 90%;
            height: 90%;
            border-radius: 50%;
            opacity: .3;
            background-color: var(--belly);
            position: absolute;
        }
    }

    &__eye {
        position: absolute;
        width: calc(42* var(--unit));
        height: calc(42* var(--unit));
        background-color: var(--eyeOutside);
        border-radius: 50%;
        left: 22%;
        top: 1%;
        border: calc(8* var(--unit)) solid var(--skin);
        box-shadow: calc(85 * #{var(--unit)}) 0px 0 calc(-7 * #{var(--unit)}) white,
        calc(85 * #{var(--unit)}) 0px 0 0 var(--skin);

        &::after {
            content: "";
            position: absolute;
            width: 70%;
            height: 70%;
            left: 9%;
            top: 2%;
            border-radius: 50%;
            background: var(--eyeInside);
            box-shadow: calc(85 * #{var(--unit)}) 0px 0 0 var(--eyeInside);
            animation: eyeRollOutside 4s infinite;
            animation-fill-mode: both;
        }

        &::before {
            content: "";
            position: absolute;
            width: 20%;
            height: 20%;
            background: white;
            border-radius: 50%;
            left: 25%;
            z-index: 1;
            top: 9%;
            box-shadow: calc(85 * #{var(--unit)}) 0px 0 0 var(--eyeDot);
            animation: eyeRollInside 4s infinite;
        }
    }

    &__head {
        width: 50%;
        height: 51%;
        background-color: var(--skin);
        position: absolute;
        left: 25%;
        top: 5%;
        border-radius: 50% 50% 2% 2% / 75% 75% 27% 2%;
    }

    &__leg {
        width: 26%;
        height: 54%;
        position: absolute;
        background: var(--skin);
        bottom: 4%;
        border-radius: 4% 100% 18% 83% / 18% 82% 0% 83%;

        &--left {
            left: 7%;
        }

        &--right {
            right: 7%;
            transform: rotateY(180deg)
        }
    }

    &__foot {
        width: 25%;
        height: 5%;
        background: var(--skin);
        position: absolute;
        bottom: 0;

        &::after {
            content: "";
            width: calc(28* var(--unit));
            height: calc(19* var(--unit));
            position: absolute;
            border-radius: 46% 46% 0% 0% / 56% 52% 10% 10%;
            background: var(--skin);
            bottom: -50%;
            left: -25%;
        }

        &--left {
            left: 5%;
            transform: rotate(-2deg);
        }

        &--right {
            right: 5%;
            transform: rotate(2deg) rotateY(180deg)
        }

    }

    &__floor {
        height: 3%;
        width: 95%;
        background: var(--floor);
        position: absolute;
        bottom: 21%;
        left: 2%;
        border-radius: 50%;
    }
}

@keyframes eyeRollInside {

    0%,
    100% {
        left: 25%;
        top: 9%;
        transform: translate(0, 0);
    }

    35% {
        left: 65%;
        top: 9%;
        transform: translate(0, 0);
    }

    60%,
    80% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes eyeRollOutside {

    0%,
    100% {
        left: 9%;
        top: 2%;
        transform: translate(0, 0);
    }

    35% {
        left: 23%;
        top: 2%;
        transform: translate(0, 0);
    }

    60%,
    80% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes fullBelly {

    0%,
    35%,
    70%,
    85% {
        width: 50%;
    }

    80% {
        width: 65%;
    }
}