:root {
    --size: 50;
    --unit: calc((var(--size) / 360) * 1vmin); 

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc0d3;
}

.frog {
    width: calc(360 * #{var(--unit)});
    height: calc(270 * var(--unit));
    position: absolute;
    
    img {
        position: absolute;
        width: 360px;
        opacity: 0;
    }

    &__body {
        width: 63%;
        height: 57%;
        position: absolute;
        left: 58%;
        transform: translate(-64%, 34%);
        
    }

    &__belly {
        width: 50%;
        height: 72%;
        background-color: #CDDC39;
        position: absolute;
        bottom: 0;
        left: 25%;
        display: flex;
        justify-content: center;
        border-radius: 60% 60% 5% 5% / 66% 66% 50% 50%;

        &::after {
            content: "";
            width: 90%;
            height: 90%;
            border-radius: 50%;
            opacity: .3;
            background-color: white;
            position: absolute;
        }
    }

    &__eye {
        position: absolute;
        width: calc(42* var(--unit));
        height: calc(42* var(--unit));
        background-color: white;
        // opacity: 0.7;
        border-radius: 50%;
        left: 22%;
        top: 1%;
        border: calc(8* var(--unit)) solid #37bb83;
        box-shadow:  calc(85 * #{var(--unit)}) 0px 0  calc(-7 * #{var(--unit)}) white,
                     calc(85 * #{var(--unit)}) 0px 0  0 #37bb83;
        
        &::after {
            content: "";
            position: absolute;
            width: 70%;
            height: 70%;
            left: 9%;
            top: 2%;
            border-radius: 50%;
            background: black;
            box-shadow:  calc(85 * #{var(--unit)}) 0px 0  0 black;
        }

        &::before {
            content: "";
            position: absolute;
            width: 20%;
            height: 20%;
            background: white;
            border-radius: 50%;
            left: 25%;
            z-index: 1;
            top: 9%;
            box-shadow:  calc(85 * #{var(--unit)}) 0px 0  0 white;
        }
    }

    &__head {
        width: 50%;
        height: 51%;
        background-color: #37bb83;
        position: absolute;
        left: 25%;
        top: 5%;
        border-radius: 50% 50% 2% 2% / 75% 75% 27% 2%;
    }

    &__leg {
        width: 26%;
        height: 54%;
        position: absolute;
        background: #37bb83;
        bottom: 4%;
        border-radius: 4% 100% 18% 83% / 18% 82% 0% 83%;

        &--left {
            left: 7%;
        }

        &--right {
            right: 7%;
            transform: rotateY(180deg)
        }
    }

    &__foot {
        width: 25%;
        height: 5%;
        background: #37bb83;
        position: absolute;
        bottom: 0;

        &::after {
            content: "";
            width: calc(28* var(--unit));
            height: calc(19* var(--unit));
            position: absolute;
            border-radius: 46% 46% 0% 0% / 56% 52% 10% 10%;
            background: #37bb83;
            bottom: -50%;
            left: -25%;
        }

        &--left {
            left: 5%;
            transform: rotate(-2deg);
        }

        &--right {
            right: 5%;
            transform: rotate(2deg) rotateY(180deg)
        }

    }


    &__floor {
        height: 3%;
        width: 95%;
        background:#663407;
        position: absolute;
        bottom: 21%;
        left: 2%;
        border-radius: 50%;
    }

}